# **Algorithm and Data Mining for Data Science Homework 2**



## **#2 Homework: Instagram Profiles & Posts**

## **[RQ1] Data Analysis (EDA)**

In [46]:
# import libraries
import dask
import pandas as pd
import dask.dataframe as dd
import numpy as np
from dask.diagnostics import ProgressBar

In [16]:
posts = dd.read_csv('../Datasets/instagram_posts.csv', sep="\t")
locations = dd.read_csv('../Datasets/instagram_locations.csv', sep='\t')
profiles = dd.read_csv('../Datasets/instagram_profiles.csv', sep='\t')

In [ ]:
columns = {'posts':set(posts.columns), 'locations': set(locations.columns), 'profiles': set(profiles.columns)}
posts_dtype = dict([(x, np.str) for x in columns['posts']])
locations_dtype = dict([(x, np.str) for x in columns['locations']])
profiles_dtype = dict([(x, np.str) for x in columns['profiles']])

In [44]:
print("post columns:\n{}\n\n locations columns:\n{}\n\n profiles columns:\n{}\n\n".format(columns['posts'], columns['locations'], columns['profiles']))

post columns:
{'sid', 'profile_id', 'sid_profile', 'number_comments', 'location_id', 'cts', 'post_id', 'description', 'post_type', 'numbr_likes'}

 locations columns:
{'street', 'cd', 'aj_exact_city_match', 'phone', 'primary_alias_on_fb', 'blurb', 'name', 'sid', 'dir_city_name', 'dir_country_id', 'id', 'dir_city_id', 'lng', 'website', 'region', 'dir_country_name', 'cts', 'aj_exact_country_match', 'dir_city_slug', 'lat', 'slug', 'zip', 'city'}

 profiles columns:
{'url', 'sid', 'following', 'is_business_account', 'profile_id', 'description', 'profile_name', 'followers', 'cts', 'firstname_lastname', 'n_posts'}

In [25]:
posts = dd.read_csv('../Datasets/instagram_posts.csv', sep="\t", dtype = posts_dtype, usecols = posts_dtype.keys())
locations = dd.read_csv('../Datasets/instagram_locations.csv', sep='\t', dtype = locations_dtype, usecols = locations_dtype.keys())
profiles = dd.read_csv('../Datasets/instagram_profiles.csv', sep='\t', dtype = profiles_dtype, usecols = profiles_dtype.keys())

In [33]:
posts.head()

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
0,28370919,3496776,BXdjjUlgcgq,2237947779,1022366247837915,2017-08-06 20:06:57.000,2,Wreckloose! Deevalley bike park laps on the @i...,80,0
1,28370932,-1,BVg0pbolYBC,5579335020,457426771112991,2017-06-19 09:31:16.000,1,üôåüèº believe in ya dreams üôåüèº just like I believe...,25,1
2,28370933,-1,BRgkjcXFp3Q,313429634,457426771112991,2017-03-11 20:05:03.000,1,#meraviglia #incensi #the #candele #profumo #a...,9,0
3,28370934,-1,BKTKeNhjEA7,1837592700,457426771112991,2016-09-13 16:27:16.000,1,#teatime #scorpion #friends #love #mountains #...,4,0
4,28370935,-1,8-NQrvoYLX,1131527143,457426771112991,2015-10-18 10:19:27.000,1,thE sky gavE mE a #constEllation,8,0

In [32]:
posts.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, sid to number_comments
dtypes: object(10)

In [34]:
locations.head()

,sid,id,name,street,zip,city,region,cd,phone,aj_exact_city_match,...,dir_city_name,dir_city_slug,dir_country_id,dir_country_name,lat,lng,primary_alias_on_fb,slug,website,cts
0,719981,110296492939207,"Playa de Daimuz - Valencia, Espa√±a",NaN,NaN,NaN,NaN,NaN,NaN,false,...,NaN,NaN,NaN,NaN,-0.139475,38.974391,daimuzplaya,playa-de-daimuz-valencia-espana,https://es.wikipedia.org/wiki/Daimuz,2019-05-29 01:21:29.987
1,719983,274391278,Nov√° Vieska,NaN,NaN,Nov√° Vieska,NaN,SK,NaN,true,...,Kis-√öjfalu,kis-ujfalu,SK,Slovakia,18.466667,47.866667,NaN,nova-vieska,NaN,2019-05-29 01:21:38.037
2,719985,148885595789195,Everest Today,Himalayas,+977,"Kathmandu, Nepal",NaN,NP,NaN,false,...,Pasupati,pasupati,NP,Nepal,85.330150,27.701960,EverestToday,everest-today,NaN,2019-05-29 01:21:46.295
3,719987,263258277,BULAC - Biblioth√®que universitaire des langues...,"65, rue des Grands-Moulins",75013,"Paris, France",NaN,FR,01 81 69 18 00,false,...,13√®me Arrondissement Paris,13eme-arrondissement-paris,FR,France,2.375995,48.827240,BULAC.Paris,bulac-bibliotheque-universitaire-des-langues-e...,www.bulac.fr,2019-05-29 01:21:54.355
4,326443,406147529857708,ABC Cable Networks Group,3800 W Alameda Ave,91505,"Burbank, California",NaN,US,(818) 569-7500,false,...,NaN,NaN,NaN,NaN,-118.341864,34.153265,NaN,abc-cable-networks-group,NaN,2019-04-02 15:22:55.703

In [35]:
locations.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 23 entries, sid to cts
dtypes: object(23)

In [48]:
profiles.head()

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,cts,is_business_account
0,4184446,4721049632,jphillip033,John Pierce,"""Document Everything Always""",250,146,170,NaN,2019-08-01 14:38:55.394 -0400,false
1,4184457,590583002,mama_haas,Deanna,Trying to enjoy the simple things in life. Kni...,534,1145,2878,www.etsy.com/shop/MamaHaas69,2019-08-01 14:39:36.526 -0400,false
2,4184460,1074146658,yellowlightbreen,Eliza Gray,Maine is for Lovers,469,324,431,elizajanegray.com,2019-08-01 14:39:54.407 -0400,false
3,4184461,1472038842,tec1025,Thomas Clark,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:06.472 -0400,NaN
4,4184462,3531420803,luckyfluff,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:07.806 -0400,NaN

In [37]:
profiles.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, sid to number_comments
dtypes: object(10)

In [47]:
missing_posts = posts.isnull().sum()
missing_locations = locations.isnull().sum()
missing_profiles = profiles.isnull().sum()
with ProgressBar():
    percent_missing_posts, percent_missing_locations, percent_missing_profiles = dask.compute(((missing_posts / posts.size) * 100),((missing_locations / locations.size) * 100), ((missing_profiles / profiles.size) * 100))
print("posts missing values percentual:\n{}\n\n locations missing values percentual:\n{}\n\n profiles missing values percentual:\n{} ".format(percent_missing_posts, percent_missing_locations, percent_missing_profiles))

[########################################] | 100% Completed | 382.76 s
posts missing values percentual:
 sid                0.000000
sid_profile        0.000000
post_id            0.000000
profile_id         0.604842
location_id        3.037395
cts                0.000780
post_type          0.000000
description        0.935469
numbr_likes        0.000008
number_comments    0.000008
dtype: float64

 locations missing values percentual:
 sid                       0.000000
id                        0.000000
name                      0.000000
street                    1.305014
zip                       1.305545
city                      0.363469
region                    4.340343
cd                        0.355629
phone                     1.789752
aj_exact_city_match       0.094162
aj_exact_country_match    0.094162
blurb                     2.618722
dir_city_id               2.240368
dir_city_name             2.240368
dir_city_slug             2.242396
dir_country_id            2.240666
dir_country_name          2.240368
lat                       0.026202
lng                       0.026202
primary_alias_on_fb       2.538683
slug                      0.344329
website                   1.698030
cts                       0.000000
dtype: float64

 profiles missing values percentual:
 sid                    0.000000
profile_id             0.065410
profile_name           0.000000
firstname_lastname     0.581519
description            4.144698
following              2.130441
followers              2.130441
n_posts                2.130441
url                    7.336517
cts                    0.883951
is_business_account    2.145456
dtype: float64

In [50]:
with ProgressBar():
    num_post_ids, num_loc_cities, num_profiles_names = dask.compute(posts['post_id'].nunique(),
                                                                locations['city'].nunique(),
                                                                profiles['profile_name'].nunique())
print("Unique post IDs: {}".format(num_post_ids))
print("Unique location cities: {}".format(num_loc_cities))
print("Unique profile names: {}".format(num_profiles_names))

[########################################] | 100% Completed | 477.06 s
Unique post IDs: 42710197
Unique location cities: 118541
Unique profile names: 4508180

## **[RQ2] Simple Insights**